@import "bourbon";
@import "base/base";

// utility

.pull-right {
  float: right;
  margin: 0 0 1em 1em;
}

.img-round {
  border-radius: 50%;
}

.notice {
  margin: 30px 0;
  border: 3px solid $faint-purple;

  .header {
    font-weight: bold;
    padding: 4px 8px;
    background-color: $faint-purple;
    color: #fff;
  }

  p {
    margin: 8px;
    color: $medium-gray;
  }
}


// main

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

div.container {
  margin: 0;
  height: 100%;
  max-width: 1200px;

  aside {
    height: 100%;
    position: fixed;
    width: 250px;
    overflow: auto;
    background-color: $dark-purple;
    display: none;

    @media (min-width: 960px) {
      display: block;
    }

    h2 {
      color: #fff;
      font-family: $heading-font-family;
      font-size: $base-font-size * 0.875;
      font-weight: 500;
      text-transform: uppercase;
      border-bottom: 0;
    }

    nav {
      color: #fff;
      padding: 0 30px 0 30px;
      margin: 60px 0;
    }

    ul li {
      padding-bottom: $small-spacing;
      font-size: $base-font-size;
      font-weight: 500;

      a {
        color: #fff;
        border-bottom: 0;
      }

      ul li {
        padding-bottom: 0;
        font-family: $heading-font-family;
        font-size: $base-font-size * 0.875;
        font-weight: 400;

        a {
          color: $light-purple;
        }
      }
    }
  }

  article {
    height: 100%;
    padding-top: 60px;
    margin: 0 50px;

    @media (min-width: 960px) {
      margin-left: 400px;
    }

    img.logo {
      width: 60px;
      margin-top: -10px;
      margin-right: 10px;

      @media (min-width: 640px) {
        float: left;
        margin-left: -20px;
        width: auto;
      }

      @media (min-width: 960px) {
        margin-left: -131px;
      }
    }

    ol {
      li {
        counter-increment: step-counter;
        margin-bottom: $small-spacing;
        position: relative;

        &::before {
          content: counter(step-counter);
          color: $light-purple;
          width: $small-spacing;
          height: $small-spacing;
          left: -1.5em;
          top: 0;
          position: absolute;
        }
      }
    }

    ul {
      li {
        margin-bottom: $small-spacing;
        position: relative;

        &::before {
          content: "•";
          color: $light-purple;
          width: $small-spacing;
          height: $small-spacing;
          left: -1.5em;
          top: 0;
          position: absolute;
        }
      }
    }
  }
}