<h2>Table of Contents</h2>

<ul>
  <li>
    <a href="#introduction">Introduction</a>
    <ul>
      <li><a href="#purpose">Purpose</a></li>
    </ul>
  </li>
  <li>
    <a href="#principles">Principles</a>
    <ul>
      <li><a href="">Stuff &amp; things</a></li>
      <li><a href="">What you need to know</a></li>
    </ul>
  </li>
  <li>
    <a href="#tools">Tools</a>
    <ul>
      <li><a href="">Other stuff</a></li>
      <li><a href="">And even more</a></li>
    </ul>
  </li>
</ul>
