<img src="images/logo.png" alt="b/c" class="logo">
<h1>The Bent on Creation Playbook</h1>
<p class="subhead">An approach for the solo designer/developer</p>

<h2 id="introduction">Introduction</h2>

<h3 id="my_background">My Background</h3>

<p>
  I’m a web designer/developer hybrid. I’ve been working on the web since 1998. The majority of both my professional and hobby experience has been as a solo designer/developer.
</p>

<h3 id="purpose">Purpose</h3>

<p>
  This playbook is inspired largely by the <a href="http://playbook.thoughtbot.com/">thoughtbot playbook</a>. If you haven't read it, you should check it out. thoughtbot uses their playbook to document best practices and help their team understand how they run the company and how they build products.
</p>

<p>You may be wondering why I'd want to write my own playbook. After all, I don't have teammates I need to share institutional knowledge with. Here's what is motivating me to build my own playbook:</p>

<ol>
  <li>Most of my work is done alone. I rarely have a need to defend, or even verbalize, my process, toolset, or philosophy. Writing down the details makes concrete what is often merely intuitive.</li>

  <li>Documenting my process should help me find weaks spots and holes. Already, as I've been thinking over the various components of my work, I've found things that need to change.</li>

  <li>As an independent contractor, I have no supervisor pushing me to a higher standard of professionalism. That's not my client's responsibility, it's my responsibility. Owning up to my way of working pushes me to better it.</li>

  <li>I've learned so much from the web design community over the years. I hope this playbook can benefit other solo designer/developers out there.</li>
</ol>

<h2 id="guiding_principles">Guiding Principles</h2>

<p>These principles guide me in finding and doing my work.</p>

<h3 id="choose_fitting_roles">Choose Fitting Roles</h3>

<p>Choosing to be a generalist doesn't mean, because you work cross-functionally, that any and all roles will be a good fit. There are valid reasons for specialization and you'll never be able to compete with specialists.</p>

<p>Many projects won't benefit from a designer/developer hybrid. Often, the larger the team or project, the more specialization is needed and the less a generalist is useful. Choose companies or projects that will benefit</p>

<h3 id="take_responsibility">Take Responsibility</h3>

<p>

</p>

<h3 id="keep_learning">Keep Learning</h3>

<p>

</p>

<h3 id="improve_incrementally">Improve Incrementally</h3>

<p>

</p>


<h2 id="my_setup">My Setup</h2>

<h3 id="laptop">Laptop</h3>

<p>

</p>

<h3 id="software">Software</h3>

<p>

</p>


<h2 id="platforms">Platforms</h2>

<h3></h3>

<p>

</p>

<h3></h3>

<p>

</p>

<h2 id="design">Design</h2>

<h3></h3>

<p>

</p>

<h3></h3>

<p>

</p>

<h2 id="development">Development</h2>

<h3></h3>

<p>

</p>

<h3></h3>

<p>

</p>

<h2 id="production">Production</h2>

<h3></h3>

<p>

</p>

<h3></h3>

<p>

</p>

<h2 id="operations">Operations</h2>

<h3></h3>

<p>

</p>

<h3></h3>

<p>

</p>

<h2 id="professional_development">Professional Development</h2>

<h3></h3>

<p>

</p>

<h3></h3>

<p>

</p>
