<img src="images/logo.png" alt="b/c" class="logo">
<h1>The Bent on Creation Playbook</h1>
<p class="subhead">An approach for the solo designer/developer</p>

<h2 id="introduction">Introduction</h2>

<h3 id="background">Background</h3>

<p>
  I’m a web designer/developer hybrid. I’ve been working on the web since 1998. The majority of both my professional and hobby experience has been as a solo designer/developer.
</p>

<h3 id="purpose">Purpose</h3>

<p>
  This playbook is inspired largely by the <a href="http://playbook.thoughtbot.com/">thoughtbot playbook</a>. If you haven't read it, you should check it out. thoughtbot uses their playbook to document best practices and help their team understand how they run the company and how they build products.
</p>

<p>You may be wondering why I'd want to write my own playbook. After all, I don't have teammates I need to share institutional knowledge with. Here's what is motivating me to build my own playbook:</p>

<ol>
  <li>Most of my work is done alone. I rarely have a need to defend, or even verbalize, my process, toolset, or philosophy. Writing down the details makes concrete what is often merely intuitive.</li>

  <li>Documenting my process should help me find weaks spots and holes. Already, as I've been thinking over the various components of my work, I've found things that need to change.</li>

  <li>As an independent contractor, I have no supervisor pushing me to a higher standard of professionalism. That's not my client's responsibility, it's my responsibility. Owning up to my way of working pushes me to better it.</li>

  <li>I've learned so much from the web design community over the years. I hope this playbook can benefit other solo designer/developers out there.</li>
</ol>

<h2 id="principles">Principles</h2>

<h3 id="incremental">Incremental Improvements</h3>

<p>

</p>

<h3></h3>

<p>

</p>

<h2 id="tools">My Setup</h2>

<h3 id="laptop">Laptop</h3>

<p>

</p>

<h3 id="software">Software</h3>

<p>

</p>


<h2 id="tools">Platforms</h2>

<h3></h3>

<p>

</p>

<h3></h3>

<p>

</p>

<h2 id="tools">Design</h2>

<h3></h3>

<p>

</p>

<h3></h3>

<p>

</p>

<h2 id="tools">Development</h2>

<h3></h3>

<p>

</p>

<h3></h3>

<p>

</p>

<h2 id="tools">Production</h2>

<h3></h3>

<p>

</p>

<h3></h3>

<p>

</p>

<h2 id="tools">Operations</h2>

<h3></h3>

<p>

</p>

<h3></h3>

<p>

</p>

<h2 id="tools">Professional Development</h2>

<h3></h3>

<p>

</p>

<h3></h3>

<p>

</p>
