<img src="images/logo.png" alt="b/c" class="logo">
<h1>The Bent on Creation Playbook</h1>
<p class="subhead">An approach for the solo designer/developer</p>

<h2 id="introduction">Introduction</h2>

<h3 id="purpose">Purpose</h3>

<p>

</p>

<h2 id="principles">Principles</h2>

<h3></h3>

<p>

</p>

<h3></h3>

<p>

</p>

<h2 id="tools">Tools</h2>

<h3></h3>

<p>

</p>

<h3></h3>

<p>

</p>
